<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegreesionSuite">
  <test thread-count="5" name="FinalRegreesionTest">
    <classes>
      <class name="test.VerifyCompleteFlow"/>
      <class name="test.VerifyLoginPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
